.central {
    width: 100%;
    position: absolute;
}

.central-background {
    margin-top: 96px;
    width: 100%;
    height: 500px;
    background-image: url('./AboutImgs/aaa.jpg');
    background-size: cover;
    background-position: center;
}

.central-background h1 {
    color: white;
    text-align: center;
    padding-top: 200px;
    font-family: Roboto, sans-serif;
    font-size: 2.8em;
}

.central-main {
    display: flex;
    width: 100%;
}

.central-main-left {
    width: 50%;
}

.central-main-left h1{
    padding-top: 60px;
    padding-left: 200px;
    font-size: 2.8em;
    font-family: Roboto, sans-serif;
}

.central-main-left p {
    padding-left: 200px;
    width: 60%;
    color: gray;
    font-family: Roboto, sans-serif;
    line-height: 30px;
}

.central-main-right {
    width: 60%;
}

.central-main-right img {
    width: 550px;
    height: 400px;
    padding-left: 160px;
}

.main-bottom-central {
    width: 100%;
    height: 500px;
    background-image: url('./AboutImgs/ccc.jpg');
    background-size: cover;
    background-position: center;
    font-family: Roboto, sans-serif;
}

.main-bottom-central h1{
    text-align: center;
    color: white;
    padding-top: 150px;
    font-size: 2.8em;
}

.main-bottom-central p{
    text-align: center;
    color: white;
    width: 60%;
    line-height: 30px;
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
}


.central-reviews {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    background-color: rgb(226, 226, 226);
    font-family: Roboto, sans-serif;
    padding-top: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.central-reviews div{
    width: 25%;
    margin: 20px;
}

.central-reviews div h3{
    font-size: 1.5em;
 }

.central-reviews div h3 i{
   font-size: 2.3em;
}


.central-footer-container {
    background-color: rgb(35, 35, 35);
    margin: 0;
    width: 100%;
    height: 450px;
    font-family: Roboto, sans-serif;
    color: #fff;
}

/* .last-section hr {
    color: #000;
} */

.central-footer {
    margin-top: 20px;
    width: 100%;
    height: 400px;
    background-color: rgb(35, 35, 35);
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-family: Roboto, sans-serif;
    /* position: absolute; */
}

.central-footer div {
    width: 25%;
    margin-top: 50px;
}

.central-footer div h2 {
    text-align: left;
    font-size: 1.4em;
}

.central-footer div p {
    width: 70%;
    text-align: left;
}

.central-logo-part img {
    margin-top: 0;
    width: 300px;
    height: 200px;
}

.central-footer hr {
    color: #fff;
    height: 1px;
}

.central-rights {
    text-align: center;
}