.word-namjestaj {
    position: absolute;
    width: 90%;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 20%;
    text-align: center;
}

.word-namjestaj span {
    display: inline-block;
    font-family: 'Lugrasimo', cursive;
    font-size: 1.8em;
    font-weight: 700;
    color: white;
    position: relative;
    transform: translateY(-100vh);
    animation: fall 3.5s forwards;
}


.word-vasoj {
    position: absolute;
    width: 90%;
    transform: translate(-50%, -50%);
    top: 62%;
    left: 20%;
    text-align: center;
}

.word-vasoj span {
    font-family: 'Lugrasimo', cursive;
    display: inline-block;
    font-size: 1.8em;
    font-weight: 700;
    color: white;
    position: relative;
    transform: translateY(+100vh);
    animation: fall 3.5s forwards;
}

.space {
    margin-left: 10px;
    margin-right: 10px;
}

.sentence {
    position: absolute;
    width: 90%;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 20%;
    text-align: center;
}

.sentence span {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 400;
    color: white;
    position: relative;
    transform: translatex(+100vh);
    animation: fall 3.5s forwards;
}

@keyframes fall {
    100%{
        transform: translateY(0);
    }
}

.word-namjestaj span:nth-child(2){
    animation-delay: 0.7s;
}

.word-namjestaj span:nth-child(3){
    animation-delay: 1.4s;
}

.word-namjestaj span:nth-child(4){
    animation-delay: 2.1s;
}

.word-namjestaj span:nth-child(5){
    animation-delay: 2.8s;
}

.word-namjestaj span:nth-child(6){
    animation-delay: 3.5s;
}

.word-namjestaj span:nth-child(7){
    animation-delay: 4.2s;
}

.word-namjestaj span:nth-child(8){
    animation-delay: 4.9s;
}

.word-namjestaj span:nth-child(9){
    animation-delay: 5.6s;
}

.word-namjestaj span:nth-child(10){
    animation-delay: 6.3s;
}

.word-namjestaj span:nth-child(11){
    animation-delay: 7.0s;
}

.word-vasoj span:nth-child(2){
    animation-delay: 0.7s;
}

.word-vasoj span:nth-child(3){
    animation-delay: 1.4s;
}

.word-vasoj span:nth-child(4){
    animation-delay: 2.1s;
}

.word-vasoj span:nth-child(5){
    animation-delay: 2.8s;
}

.word-gradacac span:nth-child(6){
    animation-delay: 3.5s;
}

.word-vasoj span:nth-child(7){
    animation-delay: 4.2s;
}

.word-vasoj span:nth-child(8){
    animation-delay: 4.9s;
}

.word-vasoj span:nth-child(9){
    animation-delay: 5.6s;
}

.word-vasoj span:nth-child(10){
    animation-delay: 6.3s;
}